body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Share Tech', sans-serif;
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  color: white;
  background-color: #696666;
  margin-top: 0;
  padding: 20px;
}

.spin__restaurants {
  display: flex;
  flex-wrap: wrap;
}

.spin__restaurant {
  max-width: 300px;
  font-family: 'Share Tech', sans-serif;
  text-transform: uppercase;
}

.spin__restaurant--image {
  width: 100%;
  height: 200px;
}